{% extends 'blog/base.html' %}

    {% block content %}
   
      
    <div class="content-section mb-5 mt-5 mr-5" style="margin-left: 160px;">
      
          
                <h2>You have been logged out</h2>
                    <div class="border-top pt-3">
                        <small class="text-muted">
                            <a href="{% url 'login' %}" class="ml-2">Log In Again</a>
                        </small>
                    </div>
              
               
            
       
    </div>
          
           
        
    
    {% endblock %}